C:\Users\ulask\Desktop\Image Segmentation\VTON (1)\image
C:\Users\ulask\Desktop\Image Segmentation\VTON (1)\gt_cloth_warped_mask
C:\Users\ulask\AppData\Local\Temp\ipykernel_15932\
C:\Users\ulask\AppData\Local\Temp\ipykernel_15932\
C:\Users\ulask\AppData\Local\Temp\ipykernel_15932\
C:\Users\ulask\Desktop\Cell Nuclei Segmentation\model_for_nulei.keras
C:\Users\ulask\Desktop\Cell Nuclei Segmentation\logs
